.beerListControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 10px 10px;
  border-bottom: 1px solid var(--gray);
}
.beerListControls .search {
  flex: 1 1 51%;
  margin-bottom: 10px;
}
.beerListControls .select {
  flex: 1 1 51%;
}