.btn {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}
.btn--block {
  display: block;
}
.btn--positive {
  background-color: var(--positive);
}
.btn--connect {
  text-transform: uppercase;
}
.btn--icon .icon {
  width: 20px;
}
.btn--transparent {
  background: transparent;
}
