.header {
  margin-bottom: 0px;
  padding: var(--container-full-width-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header a {
  text-decoration: none;
  color: white;
}
.header-logo {
  font-size: var(--fs-m);
  font-family: var(--title-font-family);
  color: var(--dark);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img {
  width: 40px;
}
.header-logout {
  color: white;
}
.header-logout:visited,
.header-logout:active,
.header-logout:focus {
  color: white;
}