.header {
  margin-bottom: 0px;
  padding: var(--container-full-width-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: white;
}
.header-logo {
  font-size: var(--fs-m);
  font-family: var(--title-font-family);
  color: var(--dark);
}
.header-logout {
  color: white;
}
.header-logout:visited,
.header-logout:active,
.header-logout:focus {
  color: white;
}