.list-title {
  font-family: var(--title-font-family);
  text-align: center;
}
.list-main {
  margin: 0;
  padding: 0;
  box-shadow: var(--shadow-low);
}
.list-item {
  background-color: transparent;
  list-style: none;
  margin: 0 0 0px;
  padding: 0;
  border-bottom: 1px solid var(--gray);
  /*counter-reset: list-items;*/
}
/* for testing, only show first 20 items */
/*.list-item:nth-child(n + 20) {
  display: none;
}*/
.list-item:last-child {
  border-bottom: none;
}
.list-item:last-child > * {
  margin-bottom: 0;
}