nav {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: var(--dark);
  z-index: 1;
  font-size: .75rem;
}
.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav li:not(:last-child) {
  border-right: 1px solid var(--white);
}
.nav li {
  padding: 20px;
  flex: 1;
  text-align: center;
}
.nav a {
  color: var(--text-light);
  text-decoration: none;
}
.nav a.selected {
  text-decoration: underline;
}