.select {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.select:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--positive);
  border-bottom: 2px solid var(--positive);
  transform: translateY(-3px) rotate(45deg);
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.select-label {
  margin-right: 10px;
  display: none;
}
.select-select {
  width: 100%;
  padding: 10px 50px 10px 15px;
  border-radius: 30px;
  background: rgba(255,255,255,.25);
  border: none;
  box-shadow: none;
  min-width: 150px;
  -webkit-appearance: none;
  font-size: var(--fs-input);
  flex: 1;
  color: var(--medium);
}
.select-select::placeholder {
  color: var(--medium);
}
