.select {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.select:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--positive);
  border-bottom: 2px solid var(--positive);
  transform: translateY(-3px) rotate(45deg);
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.select-label {
  margin-right: 10px;
}
.select-select {
  border-radius: 0;
  background: white;
  padding: 10px;
  border: none;
  box-shadow: none;
  min-width: 150px;
  -webkit-appearance: none;
  font-size: var(--fs-input);
  flex: 1;
}