:root {
  --dark-green: #282b28;
  --green: #3e5641;
  --light-green: #99c24d;
  --white: #fff;
  --black: #000;

  --dark: #282b28;
  --medium:#3e5641;
  --light: #99c24d;
  --x-light: #d8f5a2;
  --positive: #0b3954;
  --negative: #c3423f;

  --gray: #ccc;
  --light-gray: #ddd;

  /* Text Color */
  --text-light: #fff;
  --text-dark: var(--dark);

  /* Font Families */
  --title-font-family: 'Signika', sans-serif;
  --body-font-family: 'Open Sans', sans-serif;

    /* Font Size */
  --fs-base: 16px;
  --fs-input: 16px;
  --fs-l: 2rem;
  --fs-m: 1.5rem;
  --fs-s: var(--fs-base);

  /* Box Shadows - Material design based */
  --shadow-low: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow-med: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow-high: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* Layout */
  --container-margin: 5%;
  --container-full-width-padding: 5%;
}
* {
  box-sizing: border-box;
}
html {
  background-color: var(--light);
  font-size: var(--fs-base);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
}
html,
body {
  overflow-x: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: var(--body-font-family);
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  main {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
  }
}