:root {
  --dark-green: #282b28;
  --green: #3e5641;
  --light-green: #99c24d;

  --dark: #282b28;
  --medium:#3e5641;
  --light: #99c24d;
  --x-light: #d8f5a2;
  --positive: #0b3954;
  --negative: #c3423f;

  --gray: #ccc;
  --light-gray: #ddd;

  --fs-base: 14px;
  --fs-input: 16px;
  --fs-l: 2em;
  --fs-m: 1.5em;
  --fs-s: var(--fs-base);

  --text-light: #fff;
  --text-dark: var(--dark);

  --title-font-family: 'Signika', sans-serif;
  --body-font-family: 'Open Sans', sans-serif;
}
html {
  background-color: var(--light);
  font-size: var(--fs-base);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
}
button,
input,
optgroup,
select,
textarea {
  font-family: var(--body-font-family);
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
@media screen and (min-width: 700px) {
  main {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
  }
}